<h1>The Best Palindrome Checker in the World!</h1>
<main>
    <p class="palindromeText"> A palindrome is a phrase that is spelled the same way, backwards and forwards (ignoring
        spacing and punctuation;
        only alphanumeric characters matter).
        Composing literature in palindromes is an example of constrained writing.
        The word "palindrome" was coined by the English playwright Ben Jonson in the 17th century from the Greek roots
        palin (πάλιν; "again") and dromos (δρóμος; "way, direction"). This website checks if the entered string in below field is palindrome or not.</p>
    <form action="/results" method="POST">
        <label id="inputform" class="palindromeText2">Enter your text:</label>
        <input type="text" name="text-to-test" id="inputform">
        <button type="submit" class="btn btn2">Check</button>
    </form>
</main>